Options -Indexes
DirectoryIndex index.php

<IfModule mod_setenvif.c>
  SetEnvIfNoCase User-Agent "facebookexternalhit" meta_bot=1
  SetEnvIfNoCase User-Agent "Facebot" meta_bot=1
  SetEnvIfNoCase User-Agent "Meta-ExternalAgent" meta_bot=1
  SetEnvIfNoCase User-Agent "Meta-ExternalFetcher" meta_bot=1
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTPS} !=on [OR]
  RewriteCond %{HTTP_HOST} !^tiszaszalkase\.com$ [NC]
  RewriteRule ^ https://tiszaszalkase.com%{REQUEST_URI} [R=301,L]
</IfModule>

<IfModule mod_authz_core.c>
  Require all granted
</IfModule>
